img { position:absolute; left: 380px;} 

#imgRecipe { position:absolute; left: 590px; top: 60px;} 

h1 { position: absolute; left: 650px; top: 530px; } 

#ingredienser { position: absolute; left: 650px; top: 600px; } 
#Görsåhär { position: absolute; left: 1350px; top: 200px; } 
#Svårighet { position: absolute; left: 250px; top: 200px; }
#görsåhärList { padding: 0;  margin: 0; overflow: hidden; position: absolute; left: 1150px; top: 300px;  } 
#Namn { position: absolute; left: 100px; top: 800px; }
ul {list-style-type: none; margin: 0; padding: 0;  margin: 0;
     overflow: hidden; position: absolute; left: 650px; background-color: #333; 
   }

#ingredienserList { padding: 0;  margin: 0;
    overflow: hidden; position: absolute; left: 650px; top: 700px;  
  }
#liMain { display: inline; float: left;} 
a {
display: block;
padding: 8px;
background-color: #02500f;
}
li a {
display: block;
color: white;
text-align: center;
padding: 16px;
text-decoration: none;
} 
li a:hover {
background-color: #03e629;
}
.bottom-column #ingredienserList {
  display: block; }


  input { position:absolute; top: 200; left: 750px;} 
  #submit { position:absolute; top: 250; left: 850px;} 
  #sök { position:absolute; top: 100; left: 800px;} 
  #filter {position:absolute; top: 200; left: 550px;} 